body {
  display: flex;
  background-color: rgb(197, 243, 243);
  margin-top: 10%;
  color: rgb(97, 93, 93);
  justify-content: center;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  position: relative;
  border-radius: 15px;
  background-color: white;
  border: 2px solid white;
  box-shadow: 3px 6px rgb(197, 220, 220);
  padding: 20px;
  padding-top: 15px;
}

.mobile-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.symbol {
  padding-left: 70%;
}

.temperature-heading {
  font-size: 18px;
  padding: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.temperature-convertor-function {
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

input {
  font-size: 18px;
  padding-top: 11.5px;
  max-width: 75%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid rgb(215, 215, 215);
  padding-right: 20px;
}

.temperature-type {
  display: inline-table;
}
select {
  padding-right: 10px;
  font-size: 18px;
  padding-top: 12px;
  max-width: 200px;
  border: none;
  color: rgb(23, 23, 23);
  background: transparent;
  border-bottom: 1.5px solid rgb(215, 215, 215);
}
p {
  padding-top: 10px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid rgb(215, 215, 215);
}

.result {
  padding-bottom: 20px;
}
.result_value {
  color: rgb(23, 23, 23);
  font-size: 18px;
}

button {
  border-radius: 10px;
  background-color: #287aee;
  padding: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  color: whitesmoke;
}
button:hover {
  background-color: #0f5ecc;
}
